{% load otree %}
<script>
  // seems to bug out when using this variable in a ternary expression
  let update_freq = parseFloat('{{update_freq}}')
  // console.log("* update_freq", update_freq)
  // console.error("got speed:", typeof (update_freq < 0.1 ? 0 : 500), typeof (parseFloat('{{update_freq}}') < 0.1 ? 0 : 500))

  if (update_freq < 0.1)
    update_freq = 0.1

  function init_graphs() {
    var cash_ctx = document.getElementById('cash-bar');
    var cash_bar = Highcharts.chart('cash-bar', {
      chart: {
        animation: {
          duration: parseFloat('{{update_freq}}') < 0.1 ? 0 : 500,
        },
      },
      credits: { enabled: false },
      title: {
        // text: 'Cash'
        text: undefined,
      },

      yAxis: {
        title: {
          // text: 'Cash'
          text: undefined,
        },

        maxPadding: 0.5, // https://api.highcharts.com/highcharts/yAxis.maxPadding
        minPadding: 0.5,

        // max: 5300, // hardcoded values for flo
        // min: 4500

        // max: 5100, // hardcoded values for cda
        // min: 4100
      },

      xAxis: {
        title: {
          text: 'Time      ㅤ',

        },
        min: 0,
        // max: (1 / parseFloat('{{update_freq}}')) * 180, // f = seconds per tick, 1/f = ticks per second
        max: (1 / update_freq * 180), // f = seconds per tick, 1/f = ticks per second
        labels: {
          formatter: function () { // fix time tick values
            const seconds = (this.value) * (update_freq) // t:ticks, s:seconds----[t] * [s/t] = [s]
            return seconds
          }
        }
      },

      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
      },

      plotOptions: {
        series: {
          label: {
            connectorAllowed: false,
          },
          marker: {
            enabled: false,
          },
        },
      },

      series: [
        {
          lineWidth: 2,
          name: 'Cash',
          data: [parseInt('{{player.cash}}')],
          showInLegend: false,
          color: '#17a2b8',
        },
      ],

      responsive: {
        rules: [
          {
            condition: {
              maxWidth: 500,
            },
          },
        ],
      },
    });

    var inv_ctx = document.getElementById('inv-bar');
    var inventory_bar = Highcharts.chart('inv-bar', {
      chart: {
        animation: {
          // duration: 0,
          // duration: update_freq < 0.1 ? 0 : 500,
          duration: parseFloat('{{update_freq}}') < 0.1 ? 0 : 500,
        },
      },
      credits: {
        enabled: false,
      },
      title: {
        // text: 'Inventory'
        text: undefined,
      },

      yAxis: {
        title: {
          // text: 'Units'
          text: undefined,
        },

        maxPadding: 0.5, // https://api.highcharts.com/highcharts/yAxis.maxPadding
        minPadding: 0.5,

        // max: 570, // hardcoded values for flo
        // min: 440

        // max: 620, // hardcoded values for cda
        // min: 400
      },

      xAxis: {

        title: {
          text: 'Time  ㅤ',
        },
        min: 0,
        // max: (1 / parseFloat('{{update_freq}}')) * 180, // f = seconds per tick, 1/f = ticks per second
        max: (1 / update_freq * 180), // f = seconds per tick, 1/f = ticks per second
        labels: {
          formatter: function () { // fix time tick values
            const seconds = (this.value) * (update_freq) // t:ticks, s:seconds----[t] * [s/t] = [s]
            return seconds
          }
        }
      },

      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
      },

      plotOptions: {
        series: {
          label: {
            connectorAllowed: false,
          },
          marker: {
            enabled: false,
          },
        },
      },

      series: [
        {
          lineWidth: 2,
          name: 'Inventory',
          showInLegend: false,
          color: '#17a2b8',
          data: [parseInt('{{player.inventory}}')],
        },
      ],

      responsive: {
        rules: [
          {
            condition: {
              maxWidth: 500,
            },
          },
        ],
      },
    });

    Chart.defaults.font.family = "Lato"
    // Chart.defaults.animation.duration = parseFloat('{{update_freq}}') < 0.1 ? 0 : 500
    Chart.defaults.animation.duration = 0
    var klf_line_ctx = document.getElementById('klf-line');
    var klf_line = new Chart(klf_line_ctx, {
      type: 'scatter',
      options: {
        maintainAspectRatio: false,
        plugins: {
          legend: {
            labels: {
              usePointStyle: true,
            }
          }
        },
        scales: {
          y: {
            title: {
              display: true,
              text: isCDA || isFBA ? 'Volume' : 'Rate',
            },
            beginAtZero: true,

            suggestedMin: 0, // TODO maybe remove after dan's video
            suggestedMax: 20,
          },

          x: {
            title: {
              display: true,
              text: isCDA || isFBA ? 'Price' : 'Price',
            },
            beginAtZero: true,

            suggestedMin: 0, // TODO maybe remove after dan's video
            suggestedMax: 2,
          },
        },
        title: {
          display: false,
          text: 'Market',
        },
        elements: {
          point: {
            radius: 0,
            pointStyle: 'dash',
          },
        },
      },
      data: {
        datasets: [
          {
            borderWidth: 2,
            pointStyle: 'line',

            label: 'Bids',
            borderColor: '#007bff',
            backgroundColor: '#007bff',
            fill: false, // TODO test
            showLine: true,
            lineTension: 0,
            data: [],
          },
          {
            borderWidth: 2,
            pointStyle: 'line',

            label: 'Asks',
            borderColor: '#dc3545',
            backgroundColor: '#dc3545',
            // backgroundColor: 'rgba(0, 0, 0, 0)',
            fill: false,
            showLine: true,
            lineTension: 0,
            data: [],
          },
          {
            borderWidth: 2,
            pointStyle: 'line',

            label: 'Clearing Price',
            borderColor: '#53a551',
            backgroundColor: '#53a551',
            // backgroundColor: 'rgba(0, 0, 0, 0)',
            fill: false,
            showLine: true,
            lineTension: 0,
            data: [],
          },
        ],
      },
    });

    return [cash_bar, inventory_bar, klf_line];
  }

  function intializeOdometers() {
    odometerOptions = { auto: false };
    window.odometerOptions = {
      duration: 1 * 1000,
    };
    const cashOdometer = new Odometer({
      el: document.querySelector('#cashInfo'),
      value: 5000,
      duration: 1 * 1000,
      format: '(,ddd)',
      // theme: 'default',
      theme: 'minimal',
    });
    cashOdometer.render();

    const invOdometer = new Odometer({
      el: document.querySelector('#invInfo'),
      value: 500,
      duration: 1 * 1000,
      format: '(,ddd)',
      theme: 'default',
      theme: 'minimal',
    });
    invOdometer.render();

    return [cashOdometer, invOdometer];
  }
  console.log('init graphs', isCDA);
</script>