{% load otree %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />

<style>
  :root {
    --cardSpacing: 24px;
    --borderRadius: .7rem;
    --shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
  }


  * {
    /* font-family: Tangerine; */
    font-family: Lato;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
  }

  body {
    background-color: #f8fbff;
  }

  .fixed {
    width: 400px;
    height: 400px;
  }

  .market {
    height: 800px;
    min-width: 400px;
    /* height: 700px; */
  }

  .minWidth {
    min-width: 400px;
  }

  .maxWidth {
    max-width: 400px;
  }

  .minHeight {
    height: 800px;
  }

  .fixedHeight {
    height: 400px;
  }

  .manualInput {
    width: 100px;
  }

  .slider {
    width: 150px;
  }

  .sliderWrapper {
    min-width: 280px;
  }

  .shadow {
    box-shadow: var(--shadow);
  }



  #inv-bar,
  #cash-bar,
  .cardWrapper {
    /* copied from https://zuramai.github.io/mazer/demo/ */
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: var(--borderRadius);

    /* border: solid; */
  }

  .borderRadiusFix {
    border-radius: var(--borderRadius);
  }




  .cardSpacingRight {
    padding-right: var(--cardSpacing) !important;
  }

  .cardSpacingBottom {
    padding-bottom: var(--cardSpacing) !important;
  }

  .fixedHeightModified {
    height: calc(400px - var(--cardSpacing) - (800px - 800px));
    /* height: calc(400px - var(--cardSpacing) - (800px - 800px)); */
    /* height: 350px; */
  }

  .cardSpacingBottomMore {
    height: 300px;
  }

  .rowSpacingTop {
    margin-top: var(--cardSpacing);
  }

  .marginBottom {
    margin-bottom: var(--cardSpacing);
  }

  @media (max-width: 1300px) {
    .conditionalMargin {
      margin-bottom: var(--cardSpacing);
    }
  }

  @media (max-width: 1300px) {
    .conditionalMargin2 {
      margin-right: var(--cardSpacing);
    }
  }


  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: 0px;
  }

  .hideDebug {
    margin-bottom: 200px;
  }

  .noUi-handle:hover {
    cursor: grab;
  }

  .noUi-handle:active {
    cursor: grabbing;
    filter: brightness(95%);
  }

  .noUi-connect {
    /* background-color: var(--primary); */
    background: var(--info) !important;
  }
</style>


<div class="container-fluid noMargin hideDebug">
  <div class="mt-2 mb-2 row justify-content-center fixMargin " id="HEADER">
    <div class="text-center minWidth ">
      <h2>Round {{subsession.round_number}}</h1>
    </div>
    <div class="col-xl-4  col-6 text-center ">
      <h2 id="cashInfo" class="">Cash
        {{ player.cash|floatformat:1 }}
      </h2>
    </div>
    <div class="col-xl-4  col-6 text-center ">
      <h2 id="invInfo">Inventory {{ player.inventory|floatformat:1 }}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="h-100 minWidth minHeight cardSpacingRight cardSpacingBottomMore marginBottom">
      <div class="col cardSpacingBottom">
        <div
          class="p-4 shadow d-flex flex-column justify-content-between align-items-center  minWidth history  fixedHeight cardWrapper"
          id="HISTORY">
          <div class="row justify-content-center">
            <div class="" id="BETS">
              <div class="" id="bets2">
                <h2 class=" text-center">Active bets</h2>
                <table>
                  <tr>
                    <th>Direction</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Deadline</th>
                  </tr>
                  {% for bet in bets %}
                  <tr>
                    <td>{{bet.direction}}</td>
                    <td>{{bet.limit_price}}</td>
                    <td>{{bet.quantity}}</td>
                    <td>{{bet.deadline}} ms</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
          <div class="row  justify-content-center">
            <div>

              <h2 class="text-center" id="ACTIVE_ORDERS">Active orders</h2>
              <table>
                <tr>
                  <th>Direction</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Deadline</th>
                </tr>
                {% for bet in bets %}
                <tr>
                  <td>{{bet.direction}}</td>
                  <td>{{bet.limit_price}}</td>
                  <td>{{bet.quantity}}</td>
                  <td>{{bet.deadline}} ms</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
      <div
        class=" cardWrapper d-flex align-items-center manual minWidth fixedHeightModified"
        id="MANUAL">
        <div class=" p-4  borderRadiusFix col shadow">
          <div class="row h-100 justify-content-center">
            <div class="col">
              <div
                class="h-100 text-center d-flex align-items-center flex-column justify-content-between">
                <h2>Manual Input</h2>
                <form>
                  <div class="form-group row ml-1 mr-1">
                    <div class="d-flex justify-content-between sliderWrapper">
                      <label class="mr-4" id="">Price</label>
                      <div id="noUiPriceSlider" style="width:100%;"></div>
                    </div>
                  </div>
                  <div class="form-group row ml-1 mr-1">
                    <div
                      class="noUiVolSliderWrapper d-flex justify-content-between sliderWrapper">
                      <label class="mr-4" id="">Volume</label>
                      <div id="noUiVolSlider" style="width:100%;"></div>
                    </div>
                  </div>
                  <div id="rateValueWrapper" class="form-group row ml-1 mr-1">
                    <div class="d-flex justify-content-between sliderWrapper">
                      <label id="rateValue" class="mr-3">Max Volume: 50</label>
                      <input type="range" id="rateSlider" class="slider" min="1"
                        max="{{max_u_max}}" value="2.50">
                    </div>
                  </div>
                </form>
                <div class="">
                  <button type="button" id="sendBid"
                    class="btn mr-3 btn-primary" onclick="new_buy()">
                    Send Buy
                  </button>
                  <button type="button" id="sendAsk" class="btn btn-danger"
                    onclick="new_sell()">
                    Send Sell
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 shadow market cardWrapper conditionalMargin" id="MARKET">
      <canvas id="klf-line"></canvas>
    </div>
  </div>
  <div class="row justify-content-center  ">
    <div class="cardSpacingRight marginBottom ">
      <div
        class="shadow d-flex align-items-center minWidth fixedHeight  cardWrapper"
        id="ALGORITHM">
        <div class="col ">
          <div class="row pt-2 h-100 justify-content-center">
            <div
              class="pb-4 text-center d-flex flex-column justify-content-between">
              <h2>Algorithmic Input</h2>
              <form>
                <div class="form-group row ml-1 mr-1">
                  <div class="d-flex justify-content-between sliderWrapper">
                    <label class="mr-3" id="algo-timeValue">Time value</label>
                    <input type="range" id="algo-timeSlider" class="slider"
                      min="2" max="20" value="10">
                  </div>
                </div>
                <div class="form-group row ml-1 mr-1">
                  <div class="d-flex justify-content-between sliderWrapper">
                    <label id="algo-quantityValue" class="mr-3">Quantity
                      Value</label>
                    <input type="range" id="algo-quantitySlider" class="slider"
                      min="1" max="10" value="5">
                  </div>
                </div>
                <div class="form-group row ml-1 mr-1">
                  <div class="d-flex justify-content-between sliderWrapper">
                    <label id="algo-minpriceValue" class="mr-3">Min
                      Price</label>
                    <input type="range" id="algo-minpriceSlider" class="slider"
                      min="1" max="{{max_price}}" value="10">
                  </div>
                </div>
                <div class="form-group row ml-1 mr-1">
                  <div class="d-flex justify-content-between sliderWrapper">
                    <label id="algo-maxpriceValue" class="mr-3">Max Volume:
                      50</label>
                    <input type="range" id="algo-maxpriceSlider" class="slider"
                      min="1" max="{{max_price}}" value="10">
                  </div>
                </div>
                <!--  -->
                <div class="form-group row ml-1 mr-1">
                  <div class="d-flex justify-content-between sliderWrapper">
                    <label id="algo-volValue" class="mr-3">Volume</label>
                    <input type="range" id="algo-volSlider" class="slider"
                      min="1" max="{{max_q_max}}" value="50">
                  </div>
                </div>
                <div class="form-group row ml-1 mr-1">
                  <div class="d-flex justify-content-between sliderWrapper">
                    <label id="algo-rateValue" class="mr-3">Max Volume:
                      50</label>
                    <input type="range" id="algo-rateSlider" class="slider"
                      min="1.0" max="{{max_u_max}}" value="2.50">
                  </div>
                </div>
              </form>
              <div>
                <button type="button" id="algo-sendBid"
                  class="btn mr-3 btn-primary" onclick="new_buy_algo()">
                  Send Buy
                </button>
                <button type="button" id="algo-sendAsk" class="btn btn-danger"
                  onclick="new_sell_algo()">
                  Send Sell
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="marginBottom minWidth conditionalMargin2 fixedHeight col-4 cardSpacingRight  marginRight"
      id="CASH">
      <div class="shadow minWidth cardWrapper">
        <div id="cash-bar"></div>
      </div>
    </div>

    <div
      class="minWidth  shadow col-4 fixedHeight borderRadiusFix conditionalMargin2"
      id="INVENTORY">
      <div class="cardWrapper ">
        <div id="inv-bar" width=""></div>
      </div>
    </div>
  </div>
</div>







{% block scripts %} {% include Constants.scripts_template %} {% endblock %}